/* GENERAL */

p {
  font-size: 15px;
}

body {
  background-color: #eee;
}

.toast.show {
  margin-top: 5% !important;
}
.roselq {
  color: #f90f7a;
}

/* NAVBAR */

.navbar-light .navbar-brand {
  color: #f90f7a;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

/* TOAST */

.container > .toast {
  max-width: none;
}

/* BUTTON */

.rosebutton {
  background-color: #fdc500;
  color: #fff;
}

.avatar {
  height: 25px;
  width: 25px;
}